

$sectionheight: 500px;

// Front-page Hero Section

.hero-post {
    height:400px !important;
}


.hero-section {
    position:relative;
    display:flex;
    justify-content:center;
    align-items:center;
    height:500px;
    background-size:cover;
    background-attachment:fixed;
    z-index:1;
    clip-path:ellipse(100% 80% at 50% 20%);
    &::after {
        content:"";
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        display:block;
        background-color:rgba(0, 0, 0, 0.623);
        z-index:-1;
    }
}

.hero-single .hero-content {
    text-align:left;
    align-items:flex-start !important;

}


.hero-single {
    clip-path: ellipse(100% 80% at 25% 20%) !important;
}



.hero-content {
    text-align:center;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}

.section-accent {
    padding:0.5rem 0.75rem;
    background: black;
    color:white;
    display:block;
    width:150px;
    text-align:center;
    margin: 0 auto;
}


.text-center {
    text-align:center !important;
}

.hero-subtext {
    max-width:50ch;
    padding: 2rem 0;
    margin: 0 auto;
    text-align:center;
    margin-bottom:2rem;
    color:#efefef;
}

.hero-single {
    .hero-title {
        margin:0;
    }
    .hero-subtext {
        text-align:left;
        margin: 0;
        padding-top:1rem;
    }
}

.hero-title {
    font-size:$heading-large;
    color:white;
    margin-bottom:1.7rem;
}

.center-row {
    height:150px;
    display:flex;
    justify-content:center;
    align-items:center;
    a {
        text-align:center;
        width:fit-content;
    }
}

@mixin sectionStyles($x:"center", $y: "center", $height: 500px) {
    position:relative;
    display:flex;
    justify-content:$x;
    align-items:$y;
    min-height:$height;
    padding: 3rem 0;
}

#occassions {
    @include sectionStyles($y: "flex-start", $x: "center");
    z-index:1;
    background-image:url('https://images.pexels.com/photos/2050994/pexels-photo-2050994.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    color:white;
    background-position-y:-750px;
    background-size:cover;
    background-attachment:fixed;
    &::after {
        content:"";
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        background: black;
        z-index:-1;
        opacity:0.8;
    }
    .row {
        justify-content:center;
    }
    .occassions-text {
        text-align:center;
        max-width:500px;
        padding-top:2rem;
        h2 {
            height:75px;
        }
    }
}

.section-content {
    margin-bottom:1rem;
}

.services-section {
    @include sectionStyles($height: 400px);
    background:rgb(17, 17, 17);
    &::after {
        content:"";
        position:absolute;
        bottom:0;
        width:100px;
        height:100px;
        transform:rotate(45deg);
        display:block;
        background:rgb(17,17,17);
    }
}

.grid-item {
    padding:$item-gutter 0;
}

.grid-item-inner {
    display:flex;
    justify-content:center;
    align-items:center;
    height:300px;
    width:100%;
    background-size:cover;
    position:relative;
    z-index:1;
    color:white;
    transition:0.25s ease-in-out;
    &::before {
        content:"";
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        background:black;
        opacity:0.4;
        transition:0.25s ease-in-out;
        z-index:-1;
    }

    &:hover {
        transform:scale(0.95);
        &::before {
        background:purple;
        }
    }
    
}


.section {
    @include sectionStyles;
    .container, .container-fluid {
        .row {
            flex-direction:column-reverse;
            align-items:center;
            &>div {
                display:flex;
                justify-content:center;
                align-items:center;
            }
        }
    }
}

.center-row {
    width:80%;
    margin: 0 auto;
}

.image-area {
    width:100%;
    position:relative;
    display:flex;
    padding:2rem 0;
    justify-content:center;
    img {
        width:320px;
    }
}

.image-medium {
    img {
        width:350px;
    }
}

.text-area {
  &.centered {
      width:600px;
  }
}


.occassion-item-inner {
    width: 100%;
    position:relative;
    height:250px;
    display:flex;
    justify-content:center;
    flex-direction:column;
    align-items:center;
    transition:0.8s ease-in-out;
    img {
        filter:invert(1);
        margin-bottom:1rem;
    }
    h4 {
        color:white;
        font-family:$heading-family;
    }
}

.not-listed {
    background:purple;
    h4 {
        color:white;
    }
}


.item-front, .item-back {
    position:absolute;
    box-sizing:border-box;
    padding:1rem;
    top:0;
    left:0;
    width:100%;
    height:100%;
    backface-visibility:hidden;
    transition:0.8s;
}

.item-front {
    transform:rotateX(0deg);
    background:purple;

}

.item-back {
    transform:rotateX(180deg);
    background:white;
}

.occassion-item-inner:hover {
    .item-front {
        transform:rotateX(180deg);
        opacity:0;
    }
    .item-back {
        transform:rotateX(0deg);
        opacity:1;
    }

    .telephone-number {
        transform:scale(1);
        transition: 0.5s ease-in;
        transition-delay:0.5s;
    }
}


.front-content, .back-content {
    display:flex;
    justify-content:center;
    align-items:center;
    height:100%;

}

.back-content-inner {
    color:purple;
}

.telephone-number {
    margin-top:1rem;
    position:relative;
    cursor:pointer;
    transform:scale(0);
    width:100%;
    padding:1rem 2rem;
    background:purple;
    color:white;
    transform-origin:center;
}


#telephone {
    background:none;
    outline:0;
    border:0;
    color:white;
    text-align:center;
    cursor:pointer;
    width:100%;
}

.back-content-inner {
    width:200px;
}

.telephone-tooltip {
    padding:5px 10px;
    background: rgb(17, 17, 17);
    color:white;
    position:absolute;
    border-radius:5px;
    bottom:-30px;
    opacity:0;
    animation-duration: 2s;
}


#testimonials {
    background:#efefef;
}

.swiper-container {
    width: 100%;
    height: 400px;
}

.swiper-slide {
    justify-content:center;
    align-items:center;
    display:flex;
}

.flex-start {
align-items:flex-start !important;
}

.swiper-button-next, .swiper-button-previous {
    color: purple;
}

.swiper-slide-active {
    .review-item {
        animation: hello 0.25s linear 1s forwards;
    }
}
.grid-item {
    transition:0.25s ease-in-out;
    z-index:2;
}
@keyframes hello {
    from {
        box-shadow: 0;
    }
    to {
        box-shadow: 1px 4px 13px 10px rgba(0,0,0,0.06); 
    }
}
.post-item {
    position:relative;
    width:100%;
    display:flex;
    flex-direction:column;
    text-align:center;
    picture {
        width:100%;
        height:250px;
        background:black;
        img {
            max-width:100%;
            width:100%;
            transition:0.25s ease-in-out;
            &:hover {
                transform:scale(1.5);
            }
        }
    }

    &:hover {
        a {
            h3 {
                color:purple;
            }
        }
    }
    a {
        color:black;
        &:hover {
            text-decoration:underline;
        }
    }
}
.review-item {
    position:relative;
    width:400px;
    padding:2rem;
    height:250px;
    background-color:white;
    display:flex;
    justify-content:center;
    flex-direction:column;
    align-items:center;
    cursor:grab;
    .fa-quote-right {
        font-size:4rem;
        color:purple;
    }
    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        width: 100px;
        height: 75px;
        background: white;
        transform: rotate(45deg);
    }
    &::before {
        content:"";
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        background-image:url('https://images.pexels.com/photos/2512387/pexels-photo-2512387.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
        background-size:cover;
        filter:grayscale(1);
        opacity:0.1;
    }

    p {
        max-width:80%;
    }
}


.gallery-item:hover > .gallery-item-img-link > .gallery-item-img {
    transform:scale(1.5) !important;
}

.thumbnail-image {
    a {
        display:block;
        width:100%;
        height:100%;
        overflow:hidden; 
        img {
            width:100%;
        }
    }
}

.btn-primary-news {
    width: auto !important;
}

.featured-item {
    margin-bottom:100px;
    box-shadow:0 4px 15px 0 rgba(0, 0, 0, 0.12);
    background:#efefef;
    padding:1rem;
}

.featured-item-text {
    text-align:center;
    margin-bottom:2rem;
    a {
        margin: 0 auto;
    }
}

.post-item-title, .featured-item-title {
    text-align:center;
    margin-top:2rem;
    margin-bottom:0.5rem;
}

@keyframes toolTip {
    0% {
        opacity: 0;
    }
    75% {
        opacity:1;
    }
    100% {
        opacity:0;
    }
}

@media screen and (min-width: 770px) {
    .hero-title {
        width:100%;
    }

    .featured-item-text {
        text-align:left;
        a {
            margin: 0;
        }
    }
    
    .featured-item-title {
        text-align:left;
        margin-top:2rem;
        margin-bottom:0.5rem;
        font-size:30px;
        text-transform:uppercase;
        font-weight:bold;
    }

    .image-area {
        padding:0;
    }

    .grid-item {
        padding:0 $item-gutter;
    }

    .section {
        .container, .container-fluid {
            .row {
                flex-direction:row;
                &>div {
                    display:flex;
                    justify-content:flex-start;
                    align-items:center;
                }
            }
        }
    }

    .center-row {
        width: 100%;
    }
}