{% extends "base.twig" %}

{% block content %}
<article style="padding-top:3rem">
	<div class="container">
		<div class="row">
			{% for post in posts %}
					{% if loop.first == true %}
					<div class="row featured-item">
						{% include './partial/featured-post-card.twig' %}
					</div>
					{% else %}
                    	{% include './partial/post-card.twig' %}
					{% endif %}
            {% endfor %} 
		</div>
		{% include './partial/pagination.twig' %}
	</div>
</article>
{% endblock %}
