
<div class="swiper-slide">
    <article class="review-item">
        <i class="fa fa-quote-right" aria-hidden="true"></i>
        <p>{{testimonial.title}}</p>
        <p style="font-weight: bold">{{testimonial.author}}</p>
    </article>

</div>